.rate-button {

    &__star {
        position: relative;
        display: inline-block;
        align-items: center;
        text-align: center;
        max-height: 24px;

        &::after {
            content: '\e83a';
            position: relative;
            top: -2px;
            font-family: Material Icons;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}