//- using

//- +radio({
//-     block_classes: ['radio', ''],
//-     option: '';
//- })

mixin radio(arg)
    span(class = arg.block_classes)
        label.radio__label
            input.radio__input(type="radio" name = 'sex')
            span.radio__custom-radio
            span.radio__option= arg.option