//- using

//- +checkbox({
//-     block_classes: 'checkbox', '',
//-     option_name: '',
//- })

mixin checkbox(arg)
    - option_name = arg.option_name
    p(class = arg.block_classes)
        label.checkbox__label
            input.checkbox__input(type="checkbox")
            span.checkbox__custom-checkbox
            = option_name = arg.option_name