//- using

//- +checkbox({
//-     block_classes: 'checkbox', '',
//-     option_name: '',
//- })

mixin checkbox(options)
    - option_name = options.option_name
    p(class = options.block_classes)
        label.checkbox__label
            input.checkbox__input(type="checkbox")
            span.checkbox__custom-checkbox
            = option_name = options.option_name