@import '../checkbox/__input/checkbox__input.scss';
@import '../checkbox/__label/checkbox__label.scss';
@import '../checkbox/__custom-checkbox/checkbox__custom-checkbox.scss';

.checkbox {
    font-family: OpenSans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}