// colors
$Primary_Color: #BC9CFF;
$Dark-Shade-100: #1F2041;
$Dark-Shade-75: #575870;
$Dark-Shade-50: #8F8FA0;
$Dark-Shade-25: #C7C7CF;
$Dark-Shade-5: #F4F4F5;
$Purple: #BC9CFF;
$Green: #6FCF97;




// gradients
$Primary_Gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$Secondary_Gradient: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);