.like-button_click {
    position: relative;
    width: 39px;
    height: 19px;
    border-radius: 10px;
    background-color: white;
    transform-style: preserve-3d;
    border: none;

    &::before {
        position: absolute;
        content: '';
        top: -1px;
        right: -1px;
        bottom: -1px;
        left: -1px;
        border-radius: 11px;
        background: $Primary_Gradient;
        transform: translateZ(-1px);
    }
    }