mixin card_color(color, description, value)
    .card_color(class = color)
        div(class = color + '__block-color')
        div(class = color + '__content')
            p(class = color + '__description')= description
            p(class = color + '__value')= value
    
    
    
    
    
    
    
    
    
    
    
    