mixin card_color(parent_block, name, description, value)
    div(class = parent_block + '__card-color', class = 'card-color')
        div(class = parent_block + '__block-color',class = 'card-color__block-color', class = name)
        div(class = parent_block + '__content',class = 'card-color__content')
            p(class = 'card-color__description')= description
            p(class = 'card-color__value')= value
    
    
    
    
    
    
    
    
    
    
    
    