mixin card_color(element_name, block_name, name, description, value)
    div(class = element_name, class = block_name)
        div(class = block_name + '__block-color', class = name)
        div(class = block_name + '__content')
            p(class = block_name + '__description')= description
            p(class = block_name + '__value')= value
    
    
    
    
    
    
    
    
    
    
    
    