mixin font_type(parent_block, example, description)
    div(class = parent_block + '__card-text', class = example)
        div(class = example + '__example')
            p= example
        div(class = example + '__description')
            p= description
