mixin menu()
    div(class != attributes.parent_class + '__menu', class = 'menu', class != 'menu_' + attributes.mod)
        ul.menu__list
            li.menu__item= 'a'
            li.menu__item= 'b'
            li.menu__item= 'c'
