<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description" content="краткое описание страницы")
        title Пром Тара. Изготовление картонной упаковки (гофроупаковки) на заказ от производителя ООО «Пром Тара»

    body.landing

        header.header.landing__header

            .header__logo

                svg(xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" height="120" width="400")
                    g(id="SvgjsG5292" rel="mainfill" name="main_text" xmlns:name="main_text" transform="translate(138.72999639511107,-161.72585754394532)" fill="#FF9800")
                        path(d="M1.31 240L11.73 240L11.73 185.29L14.44 185.29L14.44 240L24.86 240L24.86 177.41L1.31 177.41ZM27.31 250.07L36.85 250.07L36.85 238.60C38.08 239.91 39.83 240.79 41.75 240.79L42.54 240.79C45.78 240.79 48.67 237.55 48.67 233.87L48.67 193.17C48.67 189.49 45.78 186.25 42.54 186.25L41.75 186.25C39.57 186.25 37.55 187.39 36.42 189.05L35.89 187.04L27.31 187.04ZM37.90 235.54C37.29 235.54 36.85 235.01 36.85 234.49L36.85 191.59C36.94 191.15 37.38 190.72 37.90 190.72L38.08 190.72C38.60 190.72 39.13 191.24 39.13 191.77L39.13 234.49C39.13 235.01 38.60 235.54 38.08 235.54ZM50.95 233.08C50.95 236.76 54.10 240 57.42 240L66.18 240C69.42 240 72.31 236.76 72.31 233.08L72.31 193.96C72.31 190.28 69.42 187.04 66.18 187.04L57.42 187.04C54.10 187.04 50.95 190.28 50.95 193.96ZM61.54 234.84C60.93 234.84 60.49 234.31 60.49 233.78L60.49 192.56C60.49 192.03 60.93 191.50 61.54 191.50L61.71 191.50C62.24 191.50 62.76 192.03 62.76 192.56L62.76 233.78C62.76 234.31 62.24 234.84 61.71 234.84ZM74.58 240L84.12 240L84.12 211.20L84.39 211.20L85.96 219.69L87.45 240L95.59 240L96.99 219.95L98.65 211.20L98.92 211.20L98.92 240L108.46 240L108.46 187.04L95.85 187.04L91.56 214.26L87.27 187.04L74.58 187.04ZM124.91 240L135.33 240L135.33 185.29L141.90 185.29L141.90 177.41L118.35 177.41L118.35 185.29L124.91 185.29ZM144.35 233.87C144.35 237.55 147.24 240.79 150.48 240.79L151.26 240.79C153.45 240.79 155.55 239.56 156.78 237.81L157.13 240L165.71 240L165.71 193.96C165.71 190.28 162.56 187.04 159.23 187.04L150.48 187.04C147.24 187.04 144.35 190.28 144.35 193.96L144.35 205.86L153.89 205.86L153.89 192.56C153.89 192.03 154.41 191.50 154.94 191.50L155.11 191.50C155.73 191.50 156.17 192.03 156.17 192.56L156.17 207.17L150.48 210.59C147.67 212.25 144.35 214.70 144.35 218.38ZM154.94 234.75C154.41 234.75 153.89 234.22 153.89 233.70L153.89 217.94C153.89 217.42 154.06 217.07 154.41 216.72L156.17 214.96L156.17 233.87C156.08 234.40 155.64 234.75 155.11 234.75ZM167.98 250.07L177.52 250.07L177.52 238.60C178.75 239.91 180.50 240.79 182.43 240.79L183.21 240.79C186.45 240.79 189.34 237.55 189.34 233.87L189.34 193.17C189.34 189.49 186.45 186.25 183.21 186.25L182.43 186.25C180.24 186.25 178.22 187.39 177.09 189.05L176.56 187.04L167.98 187.04ZM178.57 235.54C177.96 235.54 177.52 235.01 177.52 234.49L177.52 191.59C177.61 191.15 178.05 190.72 178.57 190.72L178.75 190.72C179.27 190.72 179.80 191.24 179.80 191.77L179.80 234.49C179.80 235.01 179.27 235.54 178.75 235.54ZM191.62 233.87C191.62 237.55 194.51 240.79 197.74 240.79L198.53 240.79C200.72 240.79 202.82 239.56 204.05 237.81L204.40 240L212.98 240L212.98 193.96C212.98 190.28 209.82 187.04 206.50 187.04L197.74 187.04C194.51 187.04 191.62 190.28 191.62 193.96L191.62 205.86L201.16 205.86L201.16 192.56C201.16 192.03 201.68 191.50 202.21 191.50L202.38 191.50C203.00 191.50 203.43 192.03 203.43 192.56L203.43 207.17L197.74 210.59C194.94 212.25 191.62 214.70 191.62 218.38ZM202.21 234.75C201.68 234.75 201.16 234.22 201.16 233.70L201.16 217.94C201.16 217.42 201.33 217.07 201.68 216.72L203.43 214.96L203.43 233.87C203.35 234.40 202.91 234.75 202.38 234.75Z" fill="#FF9800" style="fill: rgb(255, 152, 0);")
                    g(id="SvgjsG5293" rel="mainfill" name="symbol" xmlns:name="symbol_mainfill" transform="translate(-14.09999885559082,-24.491697692871092) scale(0.6)" fill="#FF9800")
                        path(d="M231.8,83.4c0-0.1,0-0.2,0-0.3c0,0,0,0,0,0c0,0,0,0,0,0c0-0.1,0-0.1-0.1-0.2c0,0,0,0,0-0.1c0,0,0,0,0-0.1c0,0,0,0,0,0  c0,0,0,0-0.1-0.1c0,0,0,0-0.1-0.1c0,0-0.1-0.1-0.1-0.1c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c-0.1-0.1-0.2-0.1-0.2-0.1c0,0,0,0,0,0  c0,0-0.1,0-0.1,0c0,0,0,0,0,0l-87.9-29.2c-0.2-0.1-0.4-0.1-0.6,0L123,56.2L76.8,40.9c-0.5-0.2-1,0-1.3,0.3L23.8,89.3c0,0,0,0,0,0.1  c0,0-0.1,0.1-0.1,0.1c0,0-0.1,0.1-0.1,0.1c0,0.1-0.1,0.1-0.1,0.2c0,0,0,0.1,0,0.1c0,0.1,0,0.1,0,0.2c0,0,0,0.1,0,0.1c0,0,0,0,0,0  v93.5c0,0.6,0.4,1.1,0.9,1.2l87.9,29.2c0,0,0,0,0,0c0.1,0,0.3,0.1,0.4,0.1c0.1,0,0.3,0,0.4-0.1l117.9-36.1c0.6-0.2,0.9-0.7,0.9-1.3  L231.8,83.4C231.8,83.4,231.8,83.4,231.8,83.4z M134,101.3l13.8-12.9l20.8,6.9c0.1,0,0.2,0.1,0.4,0.1c0,0,0,0,0,0c0.1,0,0.2,0,0.2,0  l40.7-7.1l-92.3,28.3L134,101.3z M142.4,55.5L225.1,83l-56,9.8L150,86.4l15.1-14.1c0,0,0.1-0.1,0.1-0.1c0,0,0.1-0.1,0.1-0.1  c0-0.1,0.1-0.1,0.1-0.2c0,0,0-0.1,0-0.1c0,0,0,0,0,0c0,0,0,0,0-0.1c0,0,0,0,0,0c0-0.1,0.1-0.2,0.1-0.4c0,0,0,0,0,0c0,0,0,0,0,0  c0,0,0-0.1,0-0.1c0-0.1,0-0.1,0-0.2c0,0,0,0,0-0.1c0,0,0-0.1,0-0.1c0,0,0,0,0-0.1c0-0.1-0.1-0.1-0.1-0.2c0,0,0-0.1-0.1-0.1  c0,0,0-0.1-0.1-0.1c0,0,0,0,0,0c0,0,0,0,0,0c0,0-0.1,0-0.1-0.1c0,0-0.1-0.1-0.1-0.1c-0.1,0-0.1-0.1-0.2-0.1c0,0-0.1,0-0.1,0  c0,0,0,0-0.1,0L128.2,58L142.4,55.5z M76.7,43.6l85.1,28.3L117.6,113l-5.4,5L27.2,89.7L76.7,43.6z M26,92.1l44.5,14.8l40.8,13.5  v90.7L26,182.8V92.1z M229.1,175.9l-115.2,35.3v-90.8l115.2-35.3V175.9z" fill="#FF9800" style="fill: rgb(255, 152, 0);")

            .header__contacts
                p.header__adress 
                    |   396660 Воронежская обл.
                    br
                    |   Россошь ул.50 лет СССР, д.86 В, офис 2
                p.header__tel +7 920 440 25 01
                p.header__tel +7 (47396) 5 49 87
                p.header__tel +7 (47396) 5 50 60
                p.header__email kartntara@rambler.ru

        section.main.landing__main
            .wrapper
                h1.headline.main__headline 
                    | Мы производим упаковку из гофрокартона
                    br
                    | по индивидуальным размерам.
                p.main__slogan 12 лет наша продукция помогает Вашему бизнесу!


        section.qualities.landing__qualities
            .wrapper
                h3.headline.qualities__headline 4 преимуществa гофротары
                .border
                .qualities__wrapper
                    .quality.qualities__quality
                        .qualities__image
                        .qualities__description
                            h4.qualities__description-headline Лёгкость
                            p.qualities__text
                                | По сравнению с другими материалами, 
                                | картон является очень легким и гибким материалом. 
                                | Его способность удерживать и перевозить тяжелые грузы, 
                                | не увеличивая при этом значительно массу изделия, 
                                | делает его дешевым и эффективным выбором материала 
                                | для перевозки ряда товаров.
                    .quality.qualities__quality
                        .qualities__image
                        .qualities__description
                            h4.qualities__description-headline Защита
                            p.qualities__text
                                | Гофрокартон также играет другую роль в транспортировке и хранении - защита. 
                                | Картон невероятно эффективен для защиты как хрупких, так и не хрупких предметов. 
                                | Листы бумаги, приклеенные к гофрированному внутреннему слою листа, 
                                | придают коробчатой ​​структуре дополнительную прочность, чтобы выдерживать тяжелые грузы, 
                                | противостоять ударам, падению и вибрации. Защитные гофрированные слои в картоне также 
                                | обеспечивают отличную теплоизоляцию и помогают защищать продукт от влаги.
                    .quality.qualities__quality
                        .qualities__image
                        .qualities__description
                            h4.qualities__description-headline Дополнительная реклама
                            p.qualities__text
                                |Гофрированная упаковка может улучшить видимость вашего бренда и может стать 
                                | новым каналом для продвижения вашего продукта. Добавление печатной графики 
                                | на поверхность вашего коробка может значительно повысить узнаваемость бренда 
                                | и действительно эффективно передавать ваши сообщения и ценности бренда. 
                                | Варианты печати варьируются от флексографии до литографии и цифровой печати, но, 
                                | будь то добавление простого логотипа или целая индивидуальная печатная коробка, 
                                | креативная упаковка чрезвычайно эффективна для того, чтобы привлечь внимание и 
                                | воображение вашего потребителя.
                    .quality.qualities__quality
                        .qualities__image
                        .qualities__description
                            h4.qualities__description-headline Возобновляемость
                            p.qualities__text
                                | Гофротара экологически чиста и легко утилизируется. Фактически, более 80% гофротары 
                                | и коробок в России перерабатываются, что выше, чем для любого другого упаковочного материала. 
                                | Повторное использование и рециркуляция лежит в основе каждого этапа нашего производственного 
                                | процесса, а это означает, что наши картонные отрубы и отрезы снова и снова используются 
                                | в наших продуктах, сохраняя при этом долговечность! Такая эффективная переработка позволяет 
                                | переиспользовать возобновляемый ресурс - бумажное волокно, как часть процесса 
                                | замкнутого цикла для гофротары.


        section.orders.landing__orders
            .wrapper.orders__wrapper
                h3.headline.orders__headline Чаще всего у нас заказывают
                .border
                .owl-carousel.owl-theme
                    .orders__order.orders__order-1
                        .orders__img.orders__img-1
                        .description.orders__description
                            h3.description__headline FEFCO 0427 (Самолет)
                            p.description__text
                                | Самосборная упаковка Fefco 0427  с откидной крышкой и «ушками».
                                | Изделие собирается из одной заготовки. Применяется для упаковки негабаритных товаров.
                                | Основные заказчики - интернет-магазины.
                    .orders__order.orders__order-2
                        .orders__img.orders__img-2
                        .description.orders__description
                            h3.description__headline FEFCO 0215 (Ларец)
                            p.description__text
                                | Четырехклапанный ящик FEFCO 0215 с крышкой и дном типа «ласточкин хвост».
                                | Верхние клапаны закрываются на замок.
                    .orders__order.orders__order-3
                        .orders__img.orders__img-3
                        .description.orders__description
                            h3.description__headline FEFCO 0426 (Пицца)
                            p.description__text
                                | Упаковка FEFCO 0426 c цельным дном и откидной крышкой.
                                | На крышке предусмотрены боковые клапаны, которые усиливают прочностные свойства
                                | конструкции. Короб может быть прямоугольной или со скошенными краями.
                    .orders__order.orders__order-4
                        .orders__img.orders__img-4
                        .description.orders__description
                            h3.description__headline FEFCO 0330 (Крышка + дно)
                            p.description__text
                                | Короб FEFCO 0330 состоит из двух частей – крышки и дна. Крышка обладает
                                | усиленными стенки по ширине, а дно - такими же по длине. Дно+крышка – одна
                                | из самых прочных конструкций из каталога FEFCO.



        //- section.additional-qualities.landing__additional-qualities
            .wrapper
                h3.headline.additional-qualities__headline Это для вас-если:
                .border


        section.customers.landing__customers
            .wrapper
                h3.headline.customers__headline Клиенты которые нам верят
                .border
                .customers__wrapper
                    .customers__line-1
                        .customer__customer
                        .customer__customer
                        .customer__customer
                    .customers__line-2
                        .customer__customer
                        .customer__customer
                    .customers__line-3
                        .customer__customer
                        .customer__customer
                        .customer__customer


        section.steps.landing__steps
            .wrapper
                h3.headline.steps__headline Станьте обладателем качественной упаковки в четыре шага
                .border


        section.team.landing__team
            .wrapper
                h3.headline.team__headline Мы не прячемся
                .border
                p.team__call Вот так выглядим мы
                .team__wrapper
                    .team__member
                    .team__member
                    .team__member
                    .team__member
                p.team__call-continuation


        section.indicators.landing__indicators
            .wrapper
                h3.headline.team__indicators О нас в цифрах
                .border


        section.questions.landing__questions
            .wrapper
                h3.headline.questions__headline У вас остались вопросы? Мы всегда готовы помочь.
                .border
                .questions__tel
                    p.questions__tel-us Позвоните нам
                    p.questions__tel-number +7 920 440 25 01
                .questions__mail
                    p.questions__mail-us Напишите нам
                    p.questions__mail-addres kartntara@rambler.ru


        section.map.landing__map
            .wrapper
                h3.headline.team__map Не хотите звонить?
                .border
                p.map__call
                    | Заезжайте без приглашения!
                    br
                    | Мы всегда Вас ждём


        footer.footer.landing__footer


        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="owlcarousel/owl.carousel.min.js"></script>

