mixin card_color(color, description, value)
    .sample-color
        .sample-color__block-color(class = 'sample-color__block-color_' + color)
        .sample-color__content
            p.sample-color__description= description
            p.sample-color__value= value