.button_border_active {
    width: 95px;
    height: 40px;
    color: $Primary_Color;
    background-color: white;
    transform-style: preserve-3d;
    
    &:before {
        position: absolute;
        content: '';
        top: -2px;
        right: -2px;
        bottom: -2px;
        left: -2px;
        border-radius: 22px;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        transform: translateZ(-1px);

    }
}