@font-face {
    font-family: 'Open Sans';
    src: url('opensans-400-normal.woff2') format('woff2'), url('opensans-400-normal.woff') format('woff'), url('opensans-400-normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}