doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name = 'viewport', content = 'initial-scale=1, width=device-width')
        title
            block title
        
    block append page

        block append body
            include ../../blocks/body/body.pug
            +body('color-and-type')

            block append header
                include ../../blocks/Colors_&_Type/header_logo/header_logo.pug
        
            block content