.sample-color__block-color {
    width: 70px;
    height: 70px;
    border-radius: 5px;
}

.sample-color__block-color_Dark-Shade-100 {
    background-color: $Dark_Shade_100;
}

.sample-color__block-color_Dark-Shade-75 {
    background-color: $Dark_Shade_75;
}

.sample-color__block-color_Dark-Shade-50 {
    background-color: $Dark_Shade_50;
}

.sample-color__block-color_Dark-Shade-25 {
    background-color: $Dark_Shade_25;
}

.sample-color__block-color_Dark-Shade-5 {
    background-color: $Dark_Shade_5;
}

.sample-color__block-color_Purple {
    background-color: $Purple;
}

.sample-color__block-color_Green {
    background-color: $Green;
}