include ../../mixins/card_color.pug

+card_color('Dark_Shade_100','Dark Shade 100%', '#1F2041')
+card_color('Dark_Shade_75','Dark Shade 75%', '#1F2041')
+card_color('Dark_Shade_50','Dark Shade 50%', '#1F2041')
+card_color('Dark_Shade_25','Dark Shade 25%', '#1F2041')
+card_color('Dark_Shade_5','Dark Shade 5%', '#1F2041')
+card_color('Purple','Purple', '#1F2041')
+card_color('Green','Green', '#1F2041')