@import '../../components/blocks/form_elements/form_elements.scss';

.form-elements {
    width: 1440px;
    margin: 0;

    &__wrapper {
        width: 1158px;
        margin: 0 auto;
    }
} 

.inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 19px;

    &__column {
        width: 320px;
    }
}

.column-1 {


    &__text-field:not(:nth-child(3)) {
        margin-bottom: 20px;
    }

    &__text-field:nth-child(3) {
        margin-bottom: 23px;
    }

    &__text-field:nth-child(6) {
        margin-bottom: 41px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 28px;
        margin-bottom: 21px;
    }
}

.column-2 {
    width: 266px;

    &__checkbox-buttons {
        width: 230px;
        margin-bottom: 41px;
    }

    &__radio-buttons {
        width: 100%;
        margin-bottom: 41px;
    }

    &__toggle-buttons {
        margin-bottom: 47px;
    }

    &__like-buttons {
        margin-bottom: 40px;
    }
}

.radio-buttons {

    &__radio {
        margin-top: 11px;
    }
}

.toggle-buttons {

    &__head-line {
        letter-spacing: -0.05em;
        margin-bottom: 16px;
    }

    &__toggle {
        margin-bottom: 16px;
    }
}

.like-buttons {

    &__head-line {
        margin-bottom: 15px;
    }

    &__like-button {
        display: inline-block;;
        margin-right: 6px;
    }
}

.rate-buttons {

    &__head-line {
        margin-bottom: 16px;
    }

    &__wrapper {
        display: flex;
    }

    &__rate-button {

        &:first-child {
            margin-right: 20px;
        }
    }
}