extends ../../components/pug/templates/template_Ui_kit_page.pug
include ../../components/blocks/form_elements/form_elements.pug

block title
	| Form Elements
	

block body
	body.form-elements

	block prepend header
		include ../../components/blocks/header_logo/header_logo.pug
		+header('form-elements__header')

	block content
		.form-elements__wrapper
			section.form-elements__inputs.inputs
				div.inputs__column.column-1
					+text-field({
						block_type: 'text-field',  
						block_mix: 'column-1',
						the_title_is: true,
						head_line_classes: ['head-line', 'text-field__head_line'],
						head_line_content: 'text field',
						input_wrapper_mod: [''],
						input_classes: ['input','text-field__input'],
						input_placeholder: 'Email',
					})

					+text-field({
						block_type: 'text-field',  
						block_mix: 'column-1',
						the_title_is: true,
						head_line_classes: ['head-line', 'text-field__head_line'],
						head_line_content: 'text field',
						input_wrapper_mod: [''],
						input_classes: ['input','text-field__input'],
						input_placeholder: 'This is pretty awesome',
					})

					+text-field({
						block_type: 'dropdown',  
						block_mix: 'column-1',
						the_title_is: true,
						head_line_classes: ['head-line', 'text-field__head_line'],
						head_line_content: 'dropdown',
						input_wrapper_mod: [''],
						input_classes: ['input','text-field__input'],
						input_placeholder: 'Сколько гостей',
					})

					+text-field({
						block_type: 'text-field',  
						block_mix: 'column-1',
						the_title_is: true,
						head_line_classes: ['head-line', 'text-field__head_line'],
						head_line_content: 'masked text field',
						input_wrapper_mod: [''],
						input_classes: ['input','text-field__input'],
						input_placeholder: 'ДД.ММ.ГГГГ',
					})

					.column-1__wrapper
						+text-field({
						block_type: 'dropdown',  
						block_mix: 'column-1',
						the_title_is: true,
						head_line_classes: ['head-line', 'text-field__head_line'],
						head_line_content: 'date dropdown',
						input_wrapper_mod: ['text-field__input-wrapper_size_s'],
						input_classes: ['input','text-field__input'],
						input_placeholder: 'ДД.ММ.ГГГГ',
						})

						+text-field({
							block_type: 'dropdown',  
							block_mix: 'column-1',
							the_title_is: true,
							head_line_classes: ['head-line', 'text-field__head_line'],
							head_line_content: 'date dropdown',
							input_wrapper_mod: ['text-field__input-wrapper_size_s'],
							input_classes: ['input','text-field__input'],
							input_placeholder: '19.08.2019',
						})
					
					+text-field({
						block_type: 'dropdown',  
						block_mix: 'column-1',
						the_title_is: true,
						head_line_classes: ['head-line', 'text-field__head_line'],
						head_line_content: 'filter date dropdown',
						input_wrapper_mod: ['text-field__input-wrapper_size_m'],
						input_classes: ['input','text-field__input'],
						input_placeholder: '19 авг - 23 авг',
					})

					+text-field({
						block_type: 'subscription',  
						block_mix: 'column-1',
						the_title_is: true,
						head_line_classes: ['head-line', 'text-field__head_line'],
						head_line_content: 'subscription text field',
						input_wrapper_mod: ['text-field__input-wrapper_size_m'],
						input_classes: ['input','text-field__input'],
						input_placeholder: 'Email',
					})


				div.inputs__column.column-2
					.checkbox-buttons.column-2__checkbox-buttons
						+head-line({
							head_line_classes: ['head-line', 'checkbox-buttons__head-line'],
							head_line_content: 'checkbox buttons',
						})

						+checkbox({
						    block_classes: ['checkbox', 'checkbox-buttons__checkbox'],
							option_name: 'Можно курить',
						})

						+checkbox({
						    block_classes: ['checkbox', 'checkbox-buttons__checkbox'],
							option_name: 'Можно с питомцами',
						})

						+checkbox({
						    block_classes: ['checkbox', 'checkbox-buttons__checkbox'],
							option_name: 'Можно пригласить гостей (до 10 человек)',
						})

					.radio-buttons.column-2__radio-buttons
						+head-line({
							head_line_classes: ['head-line', 'checkbox-buttons__head-line'],
							head_line_content: 'radio buttons',
						})

						+radio({
							box_classes: 'radio-buttons__radio',
							option: 'Мужчина',
						})

						+radio({
							box_classes: 'radio-buttons__radio',
							option: 'Женщина',
						})


					.toggle.column-2__toggle
						


				div.inputs__column.column-3
			section.form-elements__dropdown.dropdown
			section.form-elements__lists.lists
			section.form-elements__qualities.qualities
			section.form-elements__comments.comments