@import '../../components/index.scss';
@import '../../components/blocks/header_logo/header_logo.scss';
@import '../../components/blocks/form_elements/head-line/head-line.scss';
@import '../../components/blocks/form_elements/input-text/input-text.scss';
@import '../../components/blocks/form_elements/dropdown/dropdown.scss';

.form-elements {
    width: 1440px;
    margin: 0;

    &__wrapper {
        width: 1158px;
        margin: 0 auto;
    }
} 

.inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 19px;

    &__column {
        width: 320px;
    }
}

.column-1 {


    &__text-field {
        margin-bottom: 20px;
    }

    &__dropdown {
        margin-bottom: 23px;
    }
}