extends ../../components/pug/templates/template_Ui_kit_page.pug

block title
  | Form Elements
    

block body
  body.form-elements

    block prepend header
      include ../../components/blocks/Colors_&_Type/header_logo/header_logo.pug
      +header('form-elements__header')

    block content
        section.form-elements__input.input
            div.input__column-1
              include ../../components/blocks/form_elements/text_field/text_field.pug
              +
            div.input__column-2
            div.input__column-3
        section.form-elements__dropdown.dropdown
        section.form-elements__lists.lists
        section.form-elements__qualities.qualities
        section.form-elements__comments.comments