include ../head-line/head-line.pug
include ../input-type-text/input-type-text.pug


//- using
//- +text-field({
//-     block_type: '',     'text-field' || 'dropdown' || 'subscription'
//-     block_mix: '',
//-     the_title_is: ,
//-     head_line_classes: ['head_line', 'text-field__head_line'],
//-     head_line_content: '',
//-     input_wrapper_mod: [''],
//-     input_classes: ['input','text-field__input'],
//-     input_placeholder: '',
//- })


                

mixin text-field(options)
    - attributes = options

    .text-field(class = options.block_mix + '__text-field' class = options.block_mod)
        if options.the_title_is
            label
                +head-line(attributes)
                if options.block_type === 'dropdown' || 'subscription'
                    .input-wrapper.text-field__input-wrapper(class = 'text-field__input-wrapper_' + options.block_type class = options.input_wrapper_mod)
                        +input-type-text(attributes)
                else
                    +input-type-text(attributes)
        else
            if options.type === 'dropdown' || 'subscription'
                    .input-wrapper.text-field__input-wrapper(class = 'text-field__input-wrapper_' + options.block_type class = options.input_wrapper_mod)
                        +input-type-text(attributes)
            else
                +input-type-text(attributes)