@import '../../components/index.scss';
@import '../../components/blocks/header_logo/header_logo.scss';
@import '../../components/blocks/Colors_&_Type/card_color/card_color.scss';

p {
    margin: 0;
}

body {
    width: 1440px;
    margin: 0;
}

.main {
    &__section-color {
        display: inline-block;
        margin: 33px 0 0 150px;
    }

    &__section-text {
        width: 403px;
        position: absolute; 
        top: 145px;
        left: 846px;
    }
}



.Dark-Shade-100 {
    background-color: $Dark-Shade-100;
}

.Dark-Shade-75 {
    background-color: $Dark-Shade-75;
}

.Dark-Shade-50 {
    background-color: $Dark-Shade-50;
}

.Dark-Shade-25 {
    background-color: $Dark-Shade-25;
}
.Dark-Shade-5 {
    background-color: $Dark-Shade-5;
}

.Purple {
    background-color: $Purple;
}

.Green {
    background-color: $Green;
}

.color {
    &__card-color {
        margin-bottom: 20px;
    }

    &__content {
        margin-left: 40px;
    }
}

.text {

    &__card-text {
        margin-bottom: 50px;
        display: flex;
    }
}

.H1 {

    &__example {
        min-width: 37px;
        min-height: 30px;
        display: block;
        color: $Dark-Shade-25;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        text-align: right;
    }

    &__description {
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        margin-left: 30px;
    }
}

.H2 {

    &__example {
        min-width: 37px;
        min-height: 30px;
        color: $Dark-Shade-25;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 23px;
        text-align: right;
    }

    &__description {
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 24px;
        margin-left: 30px;
    }
}

.H3 {
    margin-bottom: 32px;

    &__example {
        min-width: 37px;
        min-height: 30px;
        color: $Dark-Shade-25;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        text-align: right;
    }

    &__description {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        margin-left: 30px;
        text-transform: uppercase;
    }
}

.Body {

    &__example {
        min-width: 37px;
        min-height: 30px;
        color: $Dark-Shade-25;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        text-align: right;
    }

    &__description {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        margin-left: 30px;
    }
}