@import './__custom-toogle/toggle__custom-toogle.scss';
@import './__input/toggle__input.scss';
@import './__label/toggle__label.scss';

.toggle {
    font-family: OpenSans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}
