include ../head-line/head-line.pug
include ../input-text/input-text.pug

mixin dropdown(options, with_title)
    div(class = options.text_field_classes)
        if with_title
            label
                - attributes = options
                +head-line(attributes)
                .dropdown-wrapper(class = options.block_wrapper_class)
                    +input-text(attributes)
        else
            div(class = options.block_wrapper_class)
                +input-text(attributes)