.head-line {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $Dark-Shade-100;
    margin-bottom: 5px;
}